.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;

    .top {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;
      display: flex;
      justify-content: center;
    }

    .photo {
      width: 270px;
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    }

    .formInput {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      width: 80%;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;
    }
  }
}